body {
    font-family: 'Poppins', sans-serif; /* Mengatur font untuk seluruh halaman */
}

.navbar-bg {
    background-image: url('https://mediacenter.riau.go.id/foto_berita/medium/ustadz-abdul-somad-cukup-jadi-manu.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh; /* Tinggi tetap 100vh */
    margin: 0; /* Hapus margin */
    padding: 0; /* Hapus padding */
    transition: background-color 0.3s; /* Transisi untuk perubahan warna */
}

.navbar-bg.scrolled {
    background-color: #90ee90; /* Hijau muda saat di-scroll */
}

.navbar-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; /* Atur ini sesuai kebutuhan */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4)); /* Ubah transparansi */
    z-index: 1; /* Memastikan overlay di atas gambar */
}

.navbar-content {
    position: relative;
    z-index: 2; /* Memastikan konten navbar di atas overlay */
}

.text-overlay {
    position: absolute;
    top: 50%; /* Posisikan di tengah vertikal */
    left: 50%; /* Posisikan di tengah horizontal */
    transform: translate(-50%, -50%); /* Geser ke tengah */
    color: rgb(255, 255, 255); /* Ubah warna sesuai kebutuhan */
    font-size: 4rem; /* Ubah ukuran font sesuai kebutuhan */
    z-index: 3;
    font-weight: bold; 
}

.profile {
    background-color: #D9D9D9;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 0.5s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

.card {
    transition: transform 0.3s;
}

.pengajian {
    background-color: #f2f2f2; /* Warna latar belakang untuk kartu pengajian */
}
.text-overlay {
    white-space: nowrap; /* Prevent line breaks */
    overflow: hidden; /* Hide overflow */
    text-align: center; /* Center text */
}
.scrolled {
    background-color: rgb(0, 0, 0); /* Latar belakang gelap saat di-scroll */
    position: fixed;
    width: 100%;
}
